            body {
                background-color: black;
                margin: 0;
                padding: 0;
            }
            
            .fixed-top {
                position: fixed;
                top: 20px;
                right: 0;
                left: 20%;
                z-index: 1030;
                width: 50%;
                height: 20px;
                background-color: black;
            }
            
            .navbar-brand {
                font-size: 16px;
                font-family: 'Oranienbaum';
                margin-right: 28px;
            }
            
            .social_network {
                margin-left: 245px;
                margin-right: 77px;
            }
            
            .basic {
                position: relative;
                background-color: white;
                margin-top: 208px;
                width: 60%;
                padding: 0;
                margin-left: 20%;
                margin-right: 20%;
            }
            
            .logo {
                margin-left: 20%;
                margin-top: -630px;
            }
            
            .text-h4 {
                font-size: 15px;
                color: rgb(228, 212, 161);
            }
            
            .slogan {
                margin-top: 45px;
            }
            
            .help {
                position: relative;
                margin-top: -100px;
            }
            
            .text-h1 {
                font-size: 26px;
                text-align: center;
            }
            
            .description {
                font-family: 'Roboto';
                text-align: center;
            }
            
            .form-reservation-bigcolor {
                width: 100%;
            }
            
            .description-grin {
                font-family: 'Roboto', sans-serif;
                text-align: center;
                color: rgb(136, 133, 133);
            }
            
            .how-it-all-happens {
                margin-left: 15%;
                width: 70%;
                margin-top: 82px;
            }
            
            .how {
                font-size: 54px;
            }
            
            .description-how {
                font-size: 20px;
                font-family: 'roboto';
            }
            
            .exception {
                margin-left: 10%;
                width: 70%;
            }
            
            .sing-up {
                margin-top: 60px;
                margin-left: 10%;
                width: 80%;
                border: grey 3px;
            }
            
            .sing {
                font-size: 31px;
                font-family: 'Oranienbaum';
                text-align: center;
            }
            
            .yellow {
                background-color: rgb(247, 190, 4);
            }
            
            .col-big {
                width: 52%;
            }
            
            .col-first {
                margin-left: 5%;
            }
            
            .col-smol {
                width: 16%;
                text-align: center;
            }
            
            .yellow-light {
                background-color: rgb(238, 234, 4);
            }
            
            .table-bordered {
                border: rgb(247, 190, 4);
            }
            
            .practica {
                font-size: 12px;
            }
            
            .price {
                font-size: 20px;
                text-align: center;
            }
            
            .rubles {
                width: 30px;
                height: 30px;
                border-color: black;
                border-style: solid;
                border-width: 1px;
                text-align: center;
                margin-right: 3px;
            }
            
            .currency {
                position: relative;
                display: flex;
                flex-wrap: nowrap;
                left: 40%;
                padding-top: 20px;
                padding-bottom: 20px;
            }
            
            .pd {
                margin-top: 20px;
            }
            
            .what-to-wear {
                width: 100%;
            }
            
            .pak {
                font-size: 36px;
                text-align: center;
            }
            
            .pak-servision {
                margin-right: 4%;
                width: 92%;
            }
            
            .pks {
                margin-right: 6%;
                width: 29%;
            }
            
            .pks1 {
                width: 29%;
            }
            
            .hvr {
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                transition: all 0.5s ease;
            }
            
            .hvr:hover {
                -moz-box-shadow: 0 0 20px rgb(161, 161, 165);
                -webkit-box-shadow: 0 0 20px rgb(161, 161, 165);
                box-shadow: 0 0 20px rgb(161, 161, 165);
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                transition: all 0.5s ease;
            }
            
            del {
                font-size: 18px;
                position: relative;
                color: #636060;
                text-decoration: none;
            }
            
            del:before {
                content: "";
                border-bottom: 2px solid #fd0b0b;
                position: absolute;
                width: 120%;
                height: 80%;
                transform: rotate(-15deg);
            }
            
            .price-new {
                font-size: 30px;
                font-weight: bold;
                text-align: center;
            }
            
            .order {
                margin-left: 10%;
                width: 80%;
            }
            
            .buy {
                display: none;
            }
            
            .order:hover .buy,
            .order:hover {
                display: inline;
            }
            
            .rt {
                text-align: center;
            }
            
            .bld {
                font-weight: bold;
            }
            
            .foto-how {
                width: 90%;
            }
            
            .description-of-how-everything-happens {
                margin-top: 30%;
            }
            
            .up {
                border: white;
                background-color: black;
                border-style: solid;
                border-width: 1px;
                margin-top: 68px;
                margin-left: 50%;
                margin-bottom: 60px;
            }
            
            .footer {
                color: white;
                font-size: 16px;
            }
            /*ADAPTIV*/
            
            @media (max-width: 1900px) {
                .basic {
                    width: 1140px;
                }
            }
            
            @media (max-width: 1693px) {
                .basic {
                    width: 1200px;
                }
            }
            
            @media (max-width: 1400px) {
                .img-gerl {
                    width: 100%;
                }
                .basic {
                    width: 840px;
                    margin-top: 130px;
                }
                .logo-new {
                    width: 150px;
                }
                .logo {
                    margin-left: 20%;
                    margin-top: -430px;
                }
                .social_network {
                    margin-left: 40px;
                    margin-right: 40px;
                }
                .text-h1 {
                    font-size: 23px;
                    text-align: center;
                }
                .description {
                    font-family: 'Roboto';
                    text-align: center;
                    font-size: 12px;
                }
            }
            
            @media (max-width: 1380px) {
                .basic {
                    width: 828px;
                    margin-top: 110px;
                }
                .social_network {
                    margin-left: 20px;
                }
            }
            
            @media (max-width: 1280px) {
                .logo-new {
                    width: 130px;
                }
                .logo {
                    margin-left: 20%;
                    margin-top: -380px;
                }
                .basic {
                    width: 896px;
                    margin-top: 110px;
                    margin-left: 15%;
                    margin-right: 15%;
                }
                .social_network {
                    margin-left: 10px;
                }
                .fixed-top {
                    left: 15%;
                }
            }
            
            @media (max-width: 1100px) {
                .logo-new {
                    width: 110px;
                }
                .logo {
                    margin-left: 20%;
                    margin-top: -330px;
                }
                .basic {
                    width: 770px;
                    margin-top: 90px;
                }
                .social_network {
                    margin-left: 20px;
                    margin-right: 20px;
                }
                .text-light {
                    font-size: 14px;
                }
            }
            
            @media (max-width: 1000px) {
                .basic {
                    width: 600px;
                    margin-top: 110px;
                }
            }
            
            @media (max-width: 990px) {
                .fixed-top {
                    height: 30px;
                }
                .img-gerl {
                    margin-top: 80px;
                }
                .logo-new {
                    width: 70px;
                }
                .logo {
                    margin-left: 20%;
                    margin-top: -280px;
                }
                .basic {
                    width: 693px;
                    margin-top: 60px;
                }
                .text-h1 {
                    font-size: 18px;
                    text-align: center;
                }
                .description {
                    font-family: 'Roboto';
                    text-align: center;
                    font-size: 8px;
                }
                .pks {
                    width: 70%;
                    margin-top: 10px;
                    margin-left: 15%;
                }
                .pks1 {
                    width: 70%;
                    margin-top: 10px;
                    margin-left: 15%;
                }
                .fixed-top {
                    position: fixed;
                    top: 20px;
                    right: 0;
                    left: 20%;
                    z-index: 1030;
                    width: 50%;
                    height: 80px;
                    background-color: black;
                }
            }
            
            @media (max-width: 880px) {
                .fixed-top {
                    position: fixed;
                    top: 20px;
                    right: 0;
                    left: 20%;
                    z-index: 1030;
                    width: 50%;
                    height: 70px;
                    background-color: black;
                }
                .img-gerl {
                    margin-top: 80px;
                    width: 110%;
                }
                .logo-new {
                    width: 70px;
                }
                .logo {
                    margin-left: 20%;
                    margin-top: -270px;
                }
                .text-h4 {
                    font-size: 11px;
                }
                .text-light {
                    font-size: 11px;
                }
                .slogan {
                    margin-top: 35px;
                }
                .basic {
                    width: 704px;
                    margin-top: 80px;
                    margin-left: 10%;
                    margin-right: 10%;
                }
                .text-h1 {
                    font-size: 18px;
                    text-align: center;
                }
                .description {
                    font-family: 'Roboto';
                    text-align: center;
                    font-size: 8px;
                }
                .pks {
                    width: 70%;
                    margin-top: 10px;
                    margin-left: 15%;
                }
                .pks1 {
                    width: 70%;
                    margin-top: 10px;
                    margin-left: 15%;
                }
                .col-ld-4 {
                    width: 70%;
                }
            }
            
            @media (max-width: 800px) {
                .fixed-top {
                    height: 70px;
                    left: 10%;
                }
                .img-gerl {
                    margin-top: 80px;
                }
                .logo-new {
                    width: 70px;
                }
                .logo {
                    margin-left: 20%;
                    margin-top: -210px;
                }
                .text-h4 {
                    font-size: 11px;
                }
                .text-light {
                    font-size: 11px;
                }
                .slogan {
                    margin-top: 35px;
                }
                .basic {
                    width: 640px;
                    margin-top: 20px;
                    margin-left: 10%;
                    margin-right: 10%;
                }
                .text-h1 {
                    font-size: 18px;
                    text-align: center;
                }
                .description {
                    font-family: 'Roboto';
                    text-align: center;
                    font-size: 8px;
                }
                .pks {
                    width: 70%;
                    margin-top: 10px;
                    margin-left: 15%;
                }
                .pks1 {
                    width: 70%;
                    margin-top: 10px;
                    margin-left: 15%;
                }
                .col-ld-4 {
                    width: 70%;
                }
            }
            
            @media (max-width: 764px) {
                .how {
                    font-size: 23px;
                }
                .basic {
                    width: 612px;
                    margin-top: 20px;
                    margin-left: 10%;
                }
                .sing-up {
                    margin-left: 20px;
                }
            }
            
            @media (max-width: 648px) {
                .img-gerl {
                    width: 120%;
                }
                .basic {
                    width: 518px;
                    margin-top: 20px;
                    margin-left: 10%;
                }
            }
            
            @media (max-width: 613px) {
                .img-gerl {
                    margin-top: 120px;
                }
            }
            
            @media (max-width: 600px) {
                .img-gerl {
                    width: 120%;
                }
                .fixed-top {
                    height: 110px;
                    left: 5%;
                    width: 500px;
                }
            }
            
            @media (max-width: 564px) {
                .img-gerl {
                    width: 130%;
                }
                .basic {
                    width: 507px;
                    margin-top: 20px;
                    margin-left: 5%;
                }
                .sing-up {
                    margin-left: 5px;
                }
                .fixed-top {
                    height: 110px;
                    left: 5%;
                    width: 500px;
                }
                .text-h1 {
                    font-size: 16px;
                }
                .description {
                    font-size: 6px;
                }
                .how {
                    font-size: 20px;
                }
                .description-how {
                    font-size: 18px;
                }
            }
            
            @media (max-width: 480px) {
                .img-gerl {
                    width: 140%;
                    margin-top: 180px;
                }
                .basic {
                    width: 480px;
                    margin-top: 20px;
                    margin-left: 15px;
                }
                .sing-up {
                    margin-left: 5px;
                }
                .fixed-top {
                    height: 160px;
                    left: 20px;
                    width: 400px;
                }
            }
            
            @media (max-width: 400px) {
                .img-gerl {
                    width: 140%;
                    margin-top: 230px;
                }
                .basic {
                    width: 390px;
                    margin-top: 20px;
                    margin-left: 15px;
                }
                .sing-up {
                    margin-left: 5px;
                }
                .fixed-top {
                    height: 160px;
                    left: 15px;
                }
                .sing-up {
                    display: none;
                }
            }